<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-5  text-primary">Cusotmer <span><a routerLink="/root/dashboard/customer/addcustomer" class="btn btn-sm btn-primary btn-rounded"><i class="bi bi-plus"></i> NEW</a></span>            
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover mb-0 table-bordered align-middle">
      <thead class="text-center">
        <tr>
          <th scope="col"> Id</th>
          <th scope="col">Customer Type</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">District</th>
          <th scope="col">State</th>
          <th scope="col">Pincode</th>
          <th scope="col">Mobile</th>
          <th scope="col">E-mail</th>
          <th scope="col">Status</th>
          <th scope="col">Plan</th>
          <th scope="col">Refered ID</th>
          <th scope="col">Wallet Balance </th> 
          <th scope="col">Action</th> 
        </tr>
      </thead>
      <tbody>
        <tr class="col-md-2 align-middle text-center">
            <td>1</td>
            <td>Customer</td>
            <td>Suresh</td>
            <td>Pathardi</td>
            <td>A.nagar</td>
            <td>maharastra</td>
            <td>414505</td>
            <td>7219757219</td>
            <td>suresh.pnsofttech@gmail.com</td>
            <td>Approved</td>
            <td>silver</td>
            <td>Sharad</td>
            <td>25000</td>
            <td class="align-middle btn-group">
                <button type="button" class="btn btn-primary"><i class="bi bi-eye"></i></button>
                <button type="button" class="btn btn-success"><i class="bi bi-pencil-square"></i></button>
              <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
              </td>
            
        </tr>
    </tbody>
    </table>
  </div>
  </div>