<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
<div class="content-wrapper pt-3">
  <div class="card heading">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="text-primary"><span>Image Details</span></h4>
      </div>
    </div>
  </div>
  <div class="content-wrapper-scroll">
    <div class="card-body">
      <div>
        <form method="post" form="ngForm" (ngSubmit)="saveImage()" [formGroup]="imageForm">
          <input type="hidden" formControlName="id">
          <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-sm-4 col-12">
              <div class="card">
                <div class="card-body">
                  <div>
                    <label class="form-label" for="title">Title <span class="text-danger"> *</span></label>
                    <input type="text" placeholder="Title" formControlName="image_title" class="form-control" required>
                    <small class="text-danger" *ngIf="f['image_title'].touched && f['image_title'].invalid">
                      <div *ngIf="f['image_title'].errors && f['image_title'].errors['required']">Title is required.</div>
                    </small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-sm-4 col-12">
              <div class="card">
                <div class="card-body">
                  <div>
                    <label class="form-label" for="description">Description <span class="text-danger"> *</span></label>
                    <textarea placeholder="Description" formControlName="description" class="form-control" required rows="3"></textarea>
                    <small class="text-danger" *ngIf="f['description'].touched && f['description'].errors">
                      <div *ngIf="f['description'].errors && f['description'].errors['required']">Description is required.</div>
                    </small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-sm-4 col-12">
              <div class="card">
                <div class="card-body">
                  <div>
                    <label class="form-label" for="category_id">Category<span class="text-danger"> *</span></label>
                   <select formControlName="category_id" (change)="filterCategory($event)" class="form-control">
                    <option *ngFor="let category of categoryList" [value]="category.category_id">
                      {{category.name}}
                    </option>
                   </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-sm-4 col-12">
              <div class="card">
                <div class="card-body">
                  <div>
                    <label class="form-label" for="subcategory_id">Subcategory <span class="text-danger"> *</span></label>
                    <select formControlName="subcategory_id" class="form-control">
                      <option *ngFor="let subcategory of subcategoryList" [value]="subcategory.subcategory_id">
                        {{subcategory.subname}}
                      </option>
                    </select>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-sm-4 col-12">
              <div class="card">
                <div class="card-body">
                  <div>
                    <label for="formFileSm" class="form-label">Image <span class="text-danger"> *</span></label>
                    <input class="form-control form-control-sm" type="file" formControlName="image"
                     (change)="processFile($event)" accept="image/*" required id="files">
                    <div class="mb-2" for="files" *ngIf="fileselected">{{fileName || ""}}</div>
                  </div>
                </div>
              </div>
            </div>

          <div class="col-12 text-center">
            <button class="btn btn-primary btn-rounded" type="submit" [disabled]="!imageForm.valid">Save</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
