<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <div class="content-wrapper pt-3">
      <div class="card heading">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-primary"><span>Wallet Details</span></h4>
          </div>
        </div>
      </div>
      <div class="content-wrapper-scroll">
        <div class="card-body">
          <div>
            <form method="post" form="ngForm" (ngSubmit)="saveWallet()" [formGroup]="walletForm">
              <input type="hidden" formControlName="id">
              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-sm-4 col-12">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <label class="form-label" for="credit">Credit <span class="text-danger"> *</span></label>
                        <input type="number" placeholder="Credit" formControlName="credit" class="form-control"
                          required>
                        <small class="text-danger" *ngIf="f['credit'].touched && f['credit'].invalid">
                          <div *ngIf="f['credit'].errors && f['credit'].errors['required']">Credit amount is required.
                          </div>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-sm-4 col-12">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <label class="form-label" for="debit">Debit <span class="text-danger"> *</span></label>
                        <input type="number" placeholder="Debit" formControlName="debit" class="form-control" required>
                        <small class="text-danger" *ngIf="f['debit'].touched && f['debit'].invalid">
                          <div *ngIf="f['debit'].errors && f['debit'].errors['required']">Debit Amount is
                            required.</div>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-sm-4 col-12">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <label class="form-label" for="balance">Balance<span class="text-danger"> *</span></label>
                        <input type="number" placeholder="Balance" formControlName="balance" class="form-control"
                          required>
                        <small class="text-danger" *ngIf="f['balance'].touched && f['balance'].invalid">
                          <div *ngIf="f['balance'].errors && f['balance'].errors['required']">Balance is required.</div>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-sm-4 col-12">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <label class="form-label" for="planid">Plan Id<span class="text-danger"> *</span></label>
                        <input type="number" placeholder="Plan Id" formControlName="plan_id" class="form-control"
                          required>
                        <small class="text-danger" *ngIf="f['plan_id'].touched && f['plan_id'].invalid">
                          <div *ngIf="f['plan_id'].errors && f['plan_id'].errors['required']">Plan Id is required.</div>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-sm-4 col-12">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <label class="form-label" for="name">Customer Id<span class="text-danger"> *</span></label>
                        <input type="number" placeholder="Customer Id" formControlName="customer_id" class="form-control"
                          required>
                        <small class="text-danger" *ngIf="f['customer_id'].touched && f['customer_id'].invalid">
                          <div *ngIf="f['customer_id'].errors && f['customer_id'].errors['required']">Customer Id is required.
                          </div>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-sm-4 col-12">
                  <div class="card">
                    <div class="card-body">
                      <div>
                        <label class="form-label ">Transaction Type</label><br>
                        <input type="radio" id="type" formControlName="transaction_type" value="Credit" class="px-6">Credit
                        <input type="radio" id="type" formControlName="transaction_type" value="Debit">Debit
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 text-center">
                <button class="btn btn-primary btn-rounded" type="submit" [disabled]="!walletForm.valid">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
