<div class="modal-body text-center">
  {{content}}
</div>
<div class="modal-footer" *ngIf = "modalType != 'info';else  informationPopup" >
  <button (click)="activeModal.close(cancel())" class="btn btn-outline-primary" type="button">Cancel</button>
  <button (click)="activeModal.dismiss(sure())" class="btn btn-outline-primary" type="button">Yes</button>
</div>
<ng-template #informationPopup>
  <div class="modal-footer" >
    <button (click)="activeModal.dismiss(sure())" class="btn btn-warning m-auto" type="button">ok</button>
  </div>
</ng-template>
