.card .card-body {
    padding: 1rem 1.25rem;
}
.form-control {
    border: 1px solid #c3cbd6;
    border-radius: 4px;
    color: #232629;
    font-size: 15px;
    min-height: 40px;
    background-color: #ffffff;
}