

            <div class="modal-header">
              <h4 class="modal-title">Plan Details</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closebutton>
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">

              <form method="post" form="ngForm" (ngSubmit)="onSubmit()" [formGroup]="planForm">
                <div class="row mb-3">
                <div class="col-md-6 ">
                  <input type="text" placeholder="Name" formControlName="name" class="form-control">
                </div>
                <div class="col-md-6 ms-auto">
                 <select id="type"  formControlName="type" class="form-control" onfocus="3">
                    <option >Select Type</option>
                    <option>Gold</option>
                    <option>Silver</option>
                    <option>Platinum</option>
                </select>
              </div>
            </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <input type="number" placeholder="Validity(days)" formControlName="validity" class="form-control">
                  </div>
                  <div class="col-md-6 ms-auto">
                    <input type="number" placeholder="Charges" formControlName="validity" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                  <input type="number" placeholder="GST" formControlName="gst" class="form-control">
                </div>
                  <div class="col-md-6 ms-auto">
                  <textarea rows="3" placeholder="Description" formControlName="description" class="form-control"></textarea>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-primary btn-sm">Update</button>
            </div>

