<nav class="sidebar-wrapper">
  <div class="sidebar-brand sticky-top">
    <a routerLink="dashboard" class="logo">
      <img src="" alt="Admin Dashboard"/>
    </a>
  </div>
  <div class="sidebar-menu">
    <div class="sidebarMenuScroll">
      <ul>
        <li class="sidebar-dropdown">
          <a href="#">
            <i class="bi bi-house"></i>
            <span class="menu-text">Dashboards</span></a>
          <div class="sidebar-submenu">
            <ul>

            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a href="#">
            <i class="bi bi-handbag"></i>
            <span class="menu-text">Product</span></a>
          <div class="sidebar-submenu">
            <ul>

            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a href="#">
            <i class="bi bi-gem"></i>
            <span class="menu-text">Widgets</span></a>
          <div class="sidebar-submenu">
            <ul>

            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a href="#">
            <i class="bi bi-collection"></i>
            <span class="menu-text">UI Elements</span></a>
          <div class="sidebar-submenu">
            <ul>

            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown active">
          <a href="#">
            <i class="bi bi-stickies"></i>
            <span class="menu-text">Pages</span></a>
          <div class="sidebar-submenu">
            <ul>

            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a href="#">
            <i class="bi bi-calendar4"></i>
            <span class="menu-text">Calendars</span></a>
          <div class="sidebar-submenu">
            <ul>

            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a href="#">
            <i class="bi bi-columns-gap"></i>
            <span class="menu-text">Forms</span></a>
          <div class="sidebar-submenu">
            <ul>

            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a href="#"
            ><i class="bi bi-window-split"></i
            ><span class="menu-text">Tables</span></a
          >
          <div class="sidebar-submenu">
            <ul>

            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a href="#"><i class="bi bi-pie-chart">
            </i>
            <span class="menu-text">Graphs &amp; Maps</span></a>
          <div class="sidebar-submenu">
            <ul>

            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a href="#"><i class="bi bi-layout-sidebar"></i>
            <span class="menu-text">Layouts</span></a>
          <div class="sidebar-submenu">
            <ul>

            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a href="#"><i class="bi bi-x-diamond"></i>
            <span class="menu-text">Authentication</span></a>
          <div class="sidebar-submenu">
            <ul>

            </ul>
          </div>
        </li>
        <li>
          <a href="starter-page.html">
            <i class="bi bi-hand-index-thumb"></i>
            <span class="menu-text">Link</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="main-container">
  <div class="page-header">
    <div class="toggle-sidebar" id="toggle-sidebar">
      <i class="bi bi-list"></i>
    </div>
    <!-- <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <i class="bi bi-house"></i><a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item">Pages</li>
      <li class="breadcrumb-item breadcrumb-active" aria-current="page">
        Profile
      </li>
    </ol> -->
    <div class="header-actions-container">
      <div class="search-container">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search anything"/>
            <button class="btn" type="button">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
      <a routerLink="dashboard/notification" class="leads d-none d-xl-flex">
        <div class="lead-details">
          You have <span class="count">21 </span>new leads
        </div>
        <span class="lead-icon">
          <i class="bi bi-bell-fill animate__animated animate__swing animate__infinite infinite"></i>
          <b class="dot animate__animated animate__heartBeat animate__infinite"></b></span>
        </a>
      <ul class="header-actions">

        <li class="dropdown">
          <a
            routerLink="dashboard"
            id="userSettings"
            class="user-settings"
            data-toggle="dropdown"
            aria-haspopup="true">
            <span class="user-name d-none d-md-block">Welcome, {{ username}}</span>
              <span class="avatar">
              <img src="" alt="User Avatar" />
              <span class="status online">
              </span></span></a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
            <div class="header-profile-actions">
              <a routerLink="dashboard/profile">Profile</a>
              <a routerLink="dashboard/settings">Settings</a>
              <a routerLink="" (click)="logout()">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
