<nav class="sidebar-wrapper" style="padding-left:0px">
  <div class="sidebar-brand sticky-top">
    <a routerLink="dashboard" class="logo">
      <img src="" alt="Admin Dashboard" />
    </a>
  </div>
  <div>
    <div class="search-container" *ngIf="this.now < 12; else afternoon">
      <div class="input-group btn btn-light" style="border-radius: 50px;">Good Morning! Admin </div>
    </div>
    <ng-template #afternoon class="search-container">
      <div class="input-group btn btn-light" style="border-radius: 50px;"
        *ngIf="this.now>=12 && this.now<16; else evening">
        Good Noon! Admin</div>
    </ng-template>
    <ng-template #evening class="search-container">
      <div class="pl-4 ml-3 menu-text text-center" style="border-radius:50px;">
        Good Evening! Admin</div>
    </ng-template>
  </div>
  <div class="sidebar-menu ">
    <div class="sidebarMenuScroll">
      <ul>
        <li class="sidebar-dropdown">
          <a routerLink="dashboard">
            <i class="bi bi-house"></i>
            <span class="menu-text">Dashboards</span></a>
        </li>
        <li class="sidebar-dropdown">
          <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <i class="bi bi-gear"></i> <span class="ms-1 d-none d-sm-inline">My Account</span> </a>
          <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
            <li class="w-100">

              <a class="dropdown-item"  routerLink="myaccount/profile"> <i class="bi bi-person"></i> Profile </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="myaccount/settings"> <i class="bi bi-tools"></i> Settings </a>
            </li>

          </ul>
        </li>
        <li class="sidebar">
          <a routerLink="dashboard/plantable/planview">
            <i class="bi bi-table"></i>
            <span class="menu-text">PlanTable</span>
          </a>
        </li>
        <li class="sidebar">
          <a routerLink="dashboard/customer/customer">
            <i class="bi bi-people"></i>
            <span class="menu-text">Customer</span>
          </a>
        </li>
        <li class="sidebar">
          <a routerLink="" (click)="logout()">
            <i class="bi bi-box-arrow-left"></i>
            <span class="menu-text">Logout</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
