<nav class="sidebar-wrapper" style="padding-left:0px">
  <div class="sidebar-brand sticky-top">
    <a routerLink="dashboard" class="logo">
      <img src="" alt="Admin Dashboard"/>
    </a>
  </div>
  <div>
    <div class="search-container" *ngIf="this.now < 12; else afternoon">
      <div class="input-group btn btn-light" style="border-radius: 50px;">Good Morning! {{username | uppercase}}</div>
  </div>
  <ng-template #afternoon class="search-container">
    <div class="input-group btn btn-light" style="border-radius: 50px;" *ngIf="this.now>=12 && this.now<16; else evening">
      Good Noon! {{username | uppercase}}</div>
  </ng-template>
  <ng-template #evening class="search-container">
    <div class="pl-4 ml-3 menu-text text-center" style="border-radius:50px;">
    Good Evening! {{username | uppercase}}</div>
  </ng-template>
  </div>
  <div class="sidebar-menu">
    <div class="sidebarMenuScroll">
      <ul>
        <li class="sidebar-submenu dropdown">
          <a href="#">
            <i class="bi bi-house"></i>
            <span class="menu-text">Dashboards</span></a>
          <div class="sidebar-submenu">
            <ul>

            </ul>
          </div>
        </li>

        <li class="sidebar-dropdown">
          <a routerLink="myaccount/profile">
            <i class="bi bi-gear"></i>
            <span class="menu-text">My Account</span></a>
            <div class="sidebar-submenu">
            <ul>
              <li><a routerLink="myaccount/profile">Profile</a></li>
              <li><a routerLink="myaccount/settings">Settings</a></li>
            </ul>
          </div>
        </li>

        <li class="sidebar-menu">
          <a routerLink="" (click)="logout()">
            <i class="bi bi-box-arrow-left"></i>
            <span class="menu-text">Logout</span></a>
        </li>
             </ul>
    </div>
  </div>
</nav>

