<div class="content-wrapper pt-3">
  <div class="card heading ">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="text-primary"><span>Plan</span></h4>
      </div>
      <div class="col-sm-3">
        <a routerLink="/root/dashboard/plantable/add-plan" class="btn btn-sm btn-primary btn-rounded" style="margin-top: -6px;"><i class="bi bi-plus"></i> NEW</a>
      </div>
    </div>
  </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchString">
            <button class="btn btn-sm btn-light"><i class="bi bi-search"></i></button>
          </div>
        </div>
      </div>
      <hr>
    <div class="table-responsive">
          <table class="table custom-table">
              <thead class="text-center">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Type</th>
                  <th scope="col">Validity(days)</th>
                  <th scope="col">Charges</th>
                  <th scope="col">GST</th>
                  <th scope="col">Discount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="col-md-2 align-middle text-center" *ngFor="let plan of planTable | planFilter:searchString"
                >
                  <td>{{plan.plan_id}}</td>
                  <td>{{plan.plan_name}}</td>
                  <td>{{plan.plan_type=="1"?"Gold":plan.plan_type=="2"?"Silver":plan.plan_type=="3"?"Platinum":""}}</td>
                  <td>{{plan.validity_days}}</td>
                  <td>{{plan.charges}}</td>
                  <td>{{plan.gst}}</td>
                  <td>{{plan.discount}}</td>
                  <td><span [ngClass]="{'badge rounded-pill bg-success':plan.status=='1','badge rounded-pill bg-danger':plan.status=='0','badge rounded-pill bg-warn':plan.status}">{{plan.status =="1"?"Active":"Inactive"}}</span></td>

                  <td class="text-center">
                    <div class="btn-group">
                      <button type="button" class="btn-sm btn-success" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-list"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item py-2 text-center" (click)="updatePlan(plan.plan_id)">
                          <span class="btn-sm btn-primary btn-rounded d-block">EDIT</span>
                        </a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>


