<div class="row">
<div class="col-md-2"></div>
<div class="col-md-10">
<div class="content-wrapper pt-3">
  <div class="card heading ">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="text-primary"><span>Plan</span></h4>
      </div>
      <div class="col-sm-3">
        <a routerLink="/root/dashboard/plantable/add-plan" class="btn btn-sm btn-primary btn-rounded"
          style="margin-top: -6px;"><i class="bi bi-plus"></i> NEW</a>
      </div>
    </div>
  </div>
  <div class="card gradient-dark-grey">
    <div class="card-header">
      <div class="card-title"> </div>
      <div class="m-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchString">
          <button class="btn btn-sm btn-light"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div>
        <table class="table custom-table">
          <thead class="text-center">
            <tr>
              <th><span>Action</span></th>
              <!-- <th sortable="plan_id" (sort)="onSort($event)"><span>Id</span></th> -->
              <th sortable="plan_name" (sort)="onSort($event)"><span>Name</span></th>
              <th sortable="plan_type" (sort)="onSort($event)"><span>Type</span></th>
              <th sortable="validity_days" (sort)="onSort($event)"><span>Validity(days)</span></th>
              <th sortable="charges" (sort)="onSort($event)"><span>Charges</span></th>
              <th sortable="gst" (sort)="onSort($event)"><span>GST</span></th>
              <th sortable="discount" (sort)="onSort($event)"><span>Discount</span></th>
              <th sortable="status" (sort)="onSort($event)"><span>Status</span></th>
            </tr>
          </thead>
          <tbody>
            <tr class="col-md-2 align-middle text-center" *ngFor="let plan of planTable | planFilter:searchString |
                  paginate:{itemsPerPage:tableSize, currentPage:page, totalItems:count}; let i=index;">
              <td class="text-center">
                <div class="btn-group">
                  <button type="button" class="btn-sm btn-success" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-list"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item py-2 text-center" (click)="updatePlan(plan.plan_id)">
                        <span class="btn-sm btn-primary btn-rounded d-block">EDIT</span>
                      </a></li>
                  </ul>
                </div>
              </td>
              <!-- <td>{{plan.plan_id}}</td> -->
              <td>{{plan.plan_name}}</td>
              <td>{{plan.plan_type=="1"?"Gold":plan.plan_type=="2"?"Silver":plan.plan_type=="3"?"Platinum":""}}</td>
              <td>{{plan.validity_days}}</td>
              <td>{{plan.charges*1}}</td>
              <td>{{plan.gst*1}}</td>
              <td>{{plan.discount*1}}</td>
              <td><span
                  [ngClass]="{'badge rounded-pill bg-success':plan.status=='1','badge rounded-pill bg-danger':plan.status=='0','badge rounded-pill bg-warn':plan.status}">
                  {{plan.status =="1"?"Active":"Inactive"}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <pagination-template #p="paginationApi" (pageChange)="onTableDataChange($event)">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item" [class.disabled]="p.isFirstPage()">
              <a class="page-link" *ngIf="!p.isFirstPage()" (click)="p.previous()">Previous</a>
            </li>
            <li class="page-item" *ngFor="let page of p.pages" [class.current]="p.getCurrent()===page.value">
              <a [ngClass]="p.getCurrent()===page.value?'page-link active':'page-link'"
                (click)="p.setCurrent(page.value)">{{page.label}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" *ngIf="!p.isLastPage()" (click)="p.next()">Next</a>
            </li>
          </ul>
        </nav>
      </pagination-template>

    </div>
  </div>
</div>
</div>
</div>
