<div>
  <div class="row mb-2 mx-auto ">
    <div class="col-md-12  ">
      <a class="btn btn-primary col text-center text-white font-size-md float-end addButton"
        routerLink="/root/dashboard/plantable/add-plan"
      >Create</a>
    </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
    <div class="col-md-12 pt-5 mt-5">
          <table class="table table-striped table-hover mb-0 table-bordered align-middle">
              <thead class="text-center">
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Validity(days)</th>
                  <th>Charges</th>
                  <th>GST</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="col-md-2 align-middle text-center" *ngFor="let plan of planTable">
                  <td>{{plan.id}}</td>
                  <td>{{plan.name}}</td>
                  <td>{{plan.type}}</td>
                  <td>{{plan.validity}}</td>
                  <td>{{plan.charges}}</td>
                  <td>{{plan.gst}}</td>
                  <td class="align-middle btn-group">
                    <a class="btn btn-outline-primary btn-sm view-btn" [routerLink]="['/root/dashboard/plantable/add-plan',plan.id]">Edit</a>
                   <span><img src="../../../assets/img/icons/deleteIcon.png" class="trash-cell"
                     (click)="delete(plan.id)"></span>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
