<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
<div class="content-wrapper pt-3">
  <div class="card heading">
    <div class="row">
      <div class="col-sm-3">
          <h4 class="text-primary"><span>Images</span></h4>
      </div>
      <div class="col-sm-3">
       <a routerLink="/root/dashboard/images/add-images" class="btn btn-sm btn-primary btn-rounded"
       style="margin-top: -6px;"><i class="bi bi-plus"></i> NEW</a>
      </div>
    </div>
  </div>
  <div class="card gradient-dark-grey">
    <div class="card-header">
      <div class="card-title"> </div>
      <div class="m-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchString">
          <button class="btn btn-sm btn-light"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div>
    <table class="table custom-table">
        <thead class="text-center">
          <tr>
            <th><span>Action</span></th>
            <!-- <th sortable="id" (sort)="onSort($event)"><span>Id</span></th> -->
            <th sortable="image_title" (sort)="onSort($event)"><span>Title</span></th>
            <!-- <th sortable="description" (sort)="onSort($event)"><span>Description</span></th> -->
            <th sortable="category_id" (sort)="onSort($event)"><span>Category </span></th>
            <th sortable="subcategory_id" (sort)="onSort($event)"><span>Subcategory</span></th>
            <!-- <th sortable="image" (sort)="onSort($event)"><span>File</span></th> -->
            <!-- <th sortable="image" (sort)="onSort($event)"><span>Status</span></th> -->

          </tr>
        </thead>
        <tbody>
          <tr class="col-md-2 align-middle text-center" *ngFor="let image of imageTable | imageFilter:searchString |
          paginate:{itemsPerPage:tableSize, currentPage:page, totalItems:count}; let i=index;">
          <td class="text-center">
            <div class="btn-group">
              <button type="button" class="btn-sm btn-success" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item py-2 text-center" (click)="updateImage(image.image_id)">
                    <span class="btn-sm btn-primary btn-rounded d-block">EDIT</span>
                  </a></li>
                <li><a class="dropdown-item py-2 text-center" (click)="deleteImage(image.image_id)">
                    <span class="btn-sm btn-primary btn-rounded d-block">DELETE</span>
                  </a></li>
              </ul>
            </div>
          </td>
            <!-- <td>{{image.image_id}}</td> -->
            <td>{{image.image_title}}</td>
            <!-- <td>{{image.description}}</td> -->
            <td>{{image.name}}</td>
            <td>{{image.subname}}</td>
            <!-- <td>{{image.image}}</td> -->


          </tr>
        </tbody>
    </table>
  </div>
</div>
</div>
</div>
